.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.6667%;
}

.col-10 {
    width: 83.3333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.6667%;
}

.col-7 {
    width: 58.3333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.6667%;
}

.col-4 {
    width: 33.3333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.6667%;
}

.col-1 {
    width: 8.3333%;
}

.header-image {
    display: block;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.search-bar-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.search-bar {
    padding: 5px;
    width: 100%;
}

.buttons-div{
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.button-custom {
    width: 100px;
    padding: 5px;
}

.coolblue-header {
    background-color: #5555FF;
}

.coolblue-body {
    margin: 0px;
}

.coolblue-flex-dir-row {
    display: flex;
    flex-direction: row;

}

.coolblue-header-image {
    margin-right: 10px;
}

.coolblue-align-right {
    display: flex;
    align-items: right;
    justify-content: right;

} 

.coolblue-margin-right-5{
    margin-right: 5px;
}

.coolblue-margin-right-10{
    margin-right: 10px;
}

.coolblue-flex-dir-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.coolblue-bg-color-light-grey {
    background-color: lightgray;
}

.coolblue-padding-vert-10 {
    padding: 10px;
}

.coolblue-flex-dir-col {
    flex-direction:column ;
    display: flex;


}
